
<html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <!-- For google icons  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="css/register.css">
      <title>Register form</title>
    
    </head>
    
    <body>
    
      <!-- for background -->
      <div class="background"></div>
    
      <!-- for form container -->
      <div class="container">
        <h3>Register Account</h3>
        <form action="">
    
          <div class="form-item">
            <span class="material-icons-outlined">
              account_circle
            </span>
            <input type="text" name="user" id="user" placeholder="Account">
          </div>
    
          <div class="form-item">
            <span class="material-icons-outlined">
              lock
            </span>
            <input type="password" name="pass" id="pass" placeholder="password">
          </div>

          <div class="form-item">
            <span class="material-icons-outlined">
              lock
            </span>
            <input type="password" name="pass" id="pass" placeholder="confirm password">
          </div>

          <div class="form-item">
            <span class="material-icons-outlined">
                badge
            </span>
            <input type="password" name="pass" id="pass" placeholder="Full name">
          </div>

          <div class="form-item">
            <span class="material-icons-outlined">
                calendar_month
            </span>
            <input type="password" name="pass" id="pass" placeholder="Date birth">
          </div>
          <div class="form-item">
            <span class="material-icons-outlined">
                credit_card
            </span>
            <input type="password" name="pass" id="pass" placeholder="Identity Card">
          </div>

          <div class="form-item">
            <span class="material-icons-outlined">
                email
            </span>  
            <input type="password" name="pass" id="pass" placeholder="Email">
          </div>

          <div class="form-item">
            <span class="material-icons-outlined">
                home
            </span>
            <input type="password" name="pass" id="pass" placeholder="Address">
          </div>

          <div class="form-item">
            <span class="material-icons-outlined">
                perm_phone_msg
            </span>
            <input type="password" name="pass" id="pass" placeholder="Phone number">
          </div>
          <div id="test">
            <input  type="radio" name="gender" value="male"> Male
            <input  type="radio" name="gender" value="female"> Female
          </div>
          <button type="submit">LOGIN</button>

        </form>
      </div>
    </body>
    
    </html>